<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Celulares</title>
</head>
<body>
<h1>Lista de Celulares</h1>
<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Referencia</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="celular : ${listaCelulares}">
        <td th:text="${celular.codigo}"></td>
        <td th:text="${celular.marca}"></td>
        <td th:text="${celular.modelo}"></td>
        <td th:text="${celular.color}"></td>
        <td th:text="${celular.referencia}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
